flask
flask[async]
firebase-admin
Flask-Cors
aiohttp
requests
python-dotenv
aiohappyeyeballs
aiohttp
aiosignal
asgiref
attrs
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
firebase-admin
Flask
flask-cors
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
msgpack
multidict
numpy
pandas
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
requests
rsa
setuptools
six
tzdata
uritemplate
urllib3
Werkzeug
wheel
yarl
